<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />
    <link
      rel="icon"
      type="image/x-icon"
      href="<%= process.env.FAVICON_PATH %>"
    />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="/views/admin/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="/views/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/views/admin/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="/views/admin/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div id="spinner-overlay" class="spinner-overlay">
      <div class="spinner"></div>
    </div>
    <div class="container-xxl position-relative bg-white d-flex p-0">
      <!-- Spinner Start -->
      <div
        id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
      >
        <div
          class="spinner-border text-primary"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->

      <!-- Sidebar Start -->
      <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
          <a href="/admin/home" class="navbar-brand mx-4 mb-3">
            <img src="/public/static/logo.png" width="200px" alt="" />
          </a>

          <div class="navbar-nav w-100">
            <a href="/san-pham/admin" class="nav-item nav-link"
              ><i class="fa fa-tachometer-alt me-2"></i>Sản phẩm</a
            >
            <a href="/gioi-thieu/admin" class="nav-item nav-link"
              ><i class="fa fa-th me-2"></i>Trang giới thiệu</a
            >

            <a href="/tin-tuc/admin" class="nav-item nav-link"
              ><i class="fa fa-table me-2"></i>Bài viết</a
            >

            <a href="/account/admin/tai-khoan" class="nav-item nav-link"
              ><i class="fa fa-user me-2"></i>Tài khoản</a
            >

            <a href="/danh-muc/admin" class="nav-item nav-link"
              ><i class="fa fa-table me-2"></i>Danh mục</a
            >
            <a href="/hang-san-xuat/admin" class="nav-item nav-link"
              ><i class="fa fa-table me-2"></i>Hãng sản xuất</a
            >
            <a href="/account/list-tai-khoan" class="nav-item nav-link"
              ><i class="fa fa-table me-2"></i>Danh sách tài khoản</a
            >
            <a href="/nha-cung-cap/admins" class="nav-item nav-link"
              ><i class="fa fa-table me-2"></i>Nhà cung cấp</a
            >
            <a href="/khach-hang/admin" class="nav-item nav-link"
              ><i class="fa fa-table me-2"></i>Khách hàng</a
            >
            <a href="/lien-he/admin" class="nav-item nav-link"
              ><i class="fa fa-table me-2"></i>Liên hệ</a
            >
            <a href="/thuong-hieu/admin" class="nav-item nav-link"
              ><i class="fa fa-table me-2"></i>Thương hiệu</a
            >
            <a href="/hotline/admin" class="nav-item nav-link"
              ><i class="fa fa-table me-2"></i>Thông tin</a
            >
          </div>
        </nav>
      </div>
      <!-- Sidebar End -->

      <!-- Content Start -->
      <div class="content">
        <div class="container-fluid pt-4 px-4">
          <div class="row g-4">
            <div class="col-sm-12">
              <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Chỉnh sửa sản phẩm</h6>
                <form
                  id="updateProduct"
                  action="/san-pham/edit/<%= product._id %>"
                  enctype="multipart/form-data"
                >
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder="name@example.com"
                      value="<%= product.name %>"
                      name="name"
                    />
                    <label for="floatingInput">Tên sản phẩm</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="slug"
                      placeholder="Đường dẫn SEO"
                      value="<%= product.slug %>"
                      name="slug"
                    />
                    <label for="floatingInput">Đường dẫn SEO</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="model"
                      name="model"
                      value="<%= product.model %>"
                      placeholder="Model"
                    />
                    <label for="floatingPassword">Model sản phẩm</label>
                  </div>
                  <div class="form-floating mb-3">
                    <span>Hãng sản xuất</span>
                    <select
                      class="form-control"
                      name="manufacturer"
                      id="list_manufacturer"
                    ></select>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="idProduct"
                      name="idProduct"
                      value="<%= product.idProduct %>"
                      placeholder="Model"
                    />
                    <label for="floatingPassword">Mã sản phẩm</label>
                  </div>
                  <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input"
                    id="bestSeller" name="bestSeller" <%= product.bestSelling ?
                    "checked" : "" %> />
                    <label class="form-check-label" for="bestSeller"
                      >Sản phẩm bán chạy</label
                    >
                    <input type="hidden" name="bestSelling"
                    id="bestSellingHidden" value="<%= product.bestSelling ?
                    "true" : "false" %>" />
                  </div>

                  <div class="form-floating mb-3">
                    <span>Danh mục</span>
                    <select
                      class="form-control"
                      name="category"
                      id="categoryList"
                    ></select>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      multiple
                      type="file"
                      name="images"
                      class="form-control"
                      id="productImageInput"
                    />
                  </div>

                  <div class="mb-3">
                    <span>Ảnh sản phẩm</span>
                    <div id="preview-img-product" class="d-flex"></div>
                  </div>
                  <div class="form-floating mb-3">
                    <span>Mô tả</span>
                    <textarea name="describe" class="form-control">
<%= product.describe %></textarea
                    >
                  </div>
                  <div class="form-floating">
                    <textarea id="editor" name="detailProduct">
<%= product.detailProduct %></textarea
                    >
                  </div>
                  <div class="d-flex py-4 justify-content-center">
                    <button type="submit" class="btn btn-success">Lưu</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Content End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/views/admin/lib/chart/chart.min.js"></script>
    <script src="/views/admin/lib/easing/easing.min.js"></script>
    <script src="/views/admin/lib/waypoints/waypoints.min.js"></script>
    <script src="/views/admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/views/admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/views/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/views/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Template Javascript -->
    <script src="/views/admin/js/main.js"></script>
    <script src="/views/admin/ckeditor/ckeditor.js"></script>
    <script>
      CKEDITOR.replace("editor", {});
    </script>
    <script>
      var BASE_URL = "<%- process.env.BASE_URL %>";
      var product = JSON.parse(
        unescape("<%- escape(JSON.stringify(product)) %>")
      );

      document.addEventListener("DOMContentLoaded", function () {
        // Now you can use the product variable in your client-side JavaScript
        console.log(product);

        const output = document.getElementById("preview-img-product");

        if (product.images && product.images.length > 0) {
          product.images.forEach(function (imageUrl) {
            const img = document.createElement("img");
            img.src = BASE_URL + imageUrl;
            img.style.width = "100px";
            img.style.marginRight = "10px";
            output.appendChild(img);
          });
        }
      });

      document.addEventListener("DOMContentLoaded", function () {
        const bestSellerCheckbox = document.getElementById("bestSeller");
        const bestSellingHidden = document.getElementById("bestSellingHidden");

        bestSellerCheckbox.addEventListener("change", function () {
          bestSellingHidden.value = this.checked ? "true" : "false";
        });
      });
    </script>
    <script>
      document
        .getElementById("productImageInput")
        .addEventListener("change", function (event) {
          var output = document.getElementById("preview-img-product");
          output.innerHTML = ""; // Xóa ảnh xem trước cũ nếu có

          if (this.files) {
            Array.from(this.files).forEach(function (file) {
              var reader = new FileReader();
              reader.onload = function (e) {
                var img = document.createElement("img");
                img.src = e.target.result;
                img.style.width = "150px"; // Đặt kích thước ảnh xem trước
                img.style.marginRight = "10px"; // Khoảng cách giữa các ảnh
                output.appendChild(img);
              };
              reader.readAsDataURL(file);
            });
          }
        });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        fetch("/hang-san-xuat")
          .then((response) => response.json())
          .then((manufacturers) => {
            const selectElement = document.getElementById("list_manufacturer");
            selectElement.innerHTML = "";

            manufacturers.forEach((manufacturer) => {
              const option = document.createElement("option");
              option.textContent = manufacturer.name;
              option.value = manufacturer._id;
              selectElement.appendChild(option);
            });

            // Chọn sẵn nhà sản xuất của sản phẩm
            selectElement.value = "<%= product.manufacturer._id %>";
          })
          .catch((error) =>
            console.error("Error loading manufacturers:", error)
          );

        fetch("/danh-muc-con")
          .then((response) => response.json())
          .then((categories) => {
            const selectElement = document.getElementById("categoryList");
            selectElement.innerHTML = "";

            categories.forEach((category) => {
              const option = document.createElement("option");
              option.textContent = category.name;
              option.value = category._id;
              selectElement.appendChild(option);
            });

            // Chọn sẵn danh mục của sản phẩm
            selectElement.value = "<%= product.category._id %>";
          })
          .catch((error) => console.error("Error loading categories:", error));
      });
    </script>
    <script>
      function removeDiacritics(str) {
        return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
      }

      // Hàm chuyển đổi chuỗi thành slug
      function convertToSlug(str) {
        return removeDiacritics(str).toLowerCase().trim().replace(/\s+/g, "-");
      }

      // Lắng nghe sự kiện khi người dùng nhập vào ô "Tên Danh Mục"
      document.getElementById("name").addEventListener("input", function () {
        var nameProduct = this.value;

        var slug = convertToSlug(nameProduct);

        document.getElementById("slug").value = slug;
      });
    </script>
    <script>
      document
        .getElementById("updateProduct")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Ngăn chặn hành vi submit mặc định của form

          CKEDITOR.instances.editor.updateElement(); // Cập nhật dữ liệu từ CKEditor vào textarea

          const formData = new FormData(this); // Tạo FormData với dữ liệu form

          const actionUrl = this.action; // Lấy URL từ thuộc tính action của form
          console.log(actionUrl);
          // Sử dụng fetch để gửi yêu cầu PUT
          fetch(actionUrl, {
            method: "PUT", // Thay đổi phương thức thành PUT
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                alert("Cập nhật sản phẩm thành công!");
                window.location.href = "/san-pham/admin"; // Điều hướng người dùng sau khi cập nhật thành công
              } else {
                throw new Error(data.message);
              }
            })
            .catch((error) => {
              console.error("Lỗi:", error);
              alert("Đã có lỗi xảy ra khi cập nhật sản phẩm.");
            });
        });
    </script>
  </body>
</html>
