<!DOCTYPE html>
<html lang="vi">
  <head>
    <title><%= intro.name %></title>
    <meta http-equiv="content-language" content="vi" />
    <meta name="title" content="Giới thiệu" />
    <meta name="keywords" content="Giới thiệu" />
    <meta name="description" content="<%= intro.name %>" />
    <meta name="og:image" content="<%= intro.avt %>" />
    <meta name="og:title" content="Giới thiệu" />
    <meta name="og:site_name" content="Giới thiệu" />
    <meta name="og:url" content="/gioi-thieu" />
    <meta name="og:description" content="<%= intro.name %>" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />

    <link rel="canonical" href="gioi-thieu.html" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://as-1.com.vn/views/client/Content/images/logo.png"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="/views/client/Content/lib/bootstrap3/grid12.min.css"
      rel="stylesheet"
    />

    <link
      href="/views/client/Content/lib/owlcarousel2/assets/owl.carousel.min.css"
      rel="stylesheet"
    />

    <link
      href="/views/client/Content/lib/css/template.min.css"
      rel="stylesheet"
    />
    <link
      href="/views/client/Content/lib/css/template-responsive.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="head">
      <div class="banner">
        <div class="w-ct clearfix">
          <div class="hidden-lg hidden-md hidden-sm col-xs-2 mmenu">
            <a rel="nofollow" href="#menu"></a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-8">
            <a href="/" class="logo">
              <img
                alt="Logo"
                src="/views/client/Content/Uploads/images/logo.png"
              />
            </a>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 pull-right">
            <div class="hidden-xs">
              <div class="phone-email">
                <a href="mailto:sales@daiduongautomation.com ">
                  <img
                    src="https://lotusarchvn.com/images/icon3.svg"
                    alt=""
                    width="25px"
                  />
                  <span class="hidden-xs">Yêu cầu báo giá</span>
                </a>
              </div>
              <div class="language">
                <a href="/" rel="nofollow" class="pull-right">
                  <img
                    alt="Vietnamese"
                    src="/views/client/Content/images/vietnam.png"
                    width="30"
                    height="22"
                  />
                </a>
                <a class="pull-right" rel="nofollow" href="#">
                  <img
                    width="30"
                    height="22"
                    src="/views/client/Content/images/english.png"
                /></a>
                <a class="pull-right" rel="nofollow" href="#">
                  <img
                    width="30"
                    height="22"
                    src="https://tulieuvankien.dangcongsan.vn/Uploads/2018/7/5/3/Quoc%20ky%20NhatBan.jpg"
                /></a>
              </div>
            </div>

            <div class="box-search">
              <input
                class="txtkeysearch"
                id="keysearch"
                autocomplete="off"
                name="keyword"
                maxlength="80"
                placeholder="Nhập nội dung tìm kiếm..."
                type="text"
              />
              <a class="btnsearch" id="searchhref"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="b-m hidden-xs">
        <div class="w-ct clearfix">
          <div class="col-md-3 col-sm-3 hidden-xs">
            <div class="bm-l">
              <div class="ctitle">Danh mục sản phẩm</div>
              <div class="m-l" id="menu">
                <ul></ul>
              </div>
            </div>
          </div>
          <script>
            (async () => {
              const menu = document.querySelector("#menu ul");
              const res = await fetch(`/danh-muc/all`);
              const categories = await res.json();
              console.log(categories);
              if (categories) {
                for (let category of categories) {
                  const listItem = document.createElement("li");
                  listItem.innerHTML = `
        <a href="/danh-muc/${category.slug}">
          <img src="/views/client/Content/Uploads/images/category_icon01.png" alt="${category.name}" />${category.name}
        </a>
        <ul id="submenu-${category._id}"></ul>
      `;
                  menu.appendChild(listItem);

                  const submenu = document.querySelector(
                    `#submenu-${category._id}`
                  );
                  fetch(`/danh-muc-con/get/${category._id}`)
                    .then((response) => response.json())
                    .then((subcategories) => {
                      if (subcategories.length > 0) {
                        subcategories.forEach((subcategory) => {
                          const subItem = document.createElement("li");
                          subItem.innerHTML = `<a href="/danh-muc-con/${subcategory.slug}">${subcategory.name}</a>`;
                          submenu.appendChild(subItem);
                        });
                      }
                    })
                    .catch((error) => {
                      console.error("Error loading subcategories:", error);
                    });
                }
              }
            })();
          </script>

          <div class="col-md-9 col-md-9 hidden-xs">
            <div class="m-t">
              <ul>
                <li data-id="1">
                  <a title="Giới thiệu" target="_parent" href="/gioi-thieu">
                    Giới thiệu
                  </a>
                </li>
                <li data-id="69">
                  <a title="Thương hiệu" target="_parent" href="/thuong-hieu">
                    Thương hiệu <i class="fa fa-chevron-down"></i>
                  </a>
                  <ul id="brands-post"></ul>
                </li>
                <li data-id="3">
                  <a
                    title="Sản phẩm"
                    target="_parent"
                    href="/san-pham/tat-ca-san-pham"
                  >
                    Sản phẩm
                  </a>
                </li>
                <li data-id="5">
                  <a title="Tin tức" target="_parent" href="/tin-tuc">
                    Tin tức
                  </a>
                </li>
                <li data-id="7">
                  <a title="Li&#234;n hệ" target="_parent" href="/lien-he">
                    Li&#234;n hệ
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <script>
            (async () => {
              const brandsPost = document.querySelector("#brands-post");
              const res = await fetch(`/thuong-hieu/all`);
              const data = await res.json();
              console.log(data);
              if (data) {
                data.map((value, key) => {
                  brandsPost.innerHTML += `

									<li data-id="71">
											<a title="${value.name}" target="_parent" href="/thuong-hieu/${value.slug}">
												${value.name} <i class="fa fa-chevron-right"></i>
											</a>
										</li>
									`;
                });
              }
            })();
          </script>
        </div>
      </div>
    </div>
    <input type="hidden" id="currentId" value="1" />
    <div class="navi">
      <div class="w-ct padding15">
        <a href="index.html">Trang chủ</a><span>/</span>
        <a href="gioi-thieu.html">Giới thiệu</a>
      </div>
    </div>

    <div class="w-ct padding15 clearfix">
      <div class="fixmobile clearfix" id="content"><%- intro.detail %></div>
    </div>

    <div class="footer">
      <div class="w-ct clearfix">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <p>AXEL VIỆT NAM</p>

          <ul>
            <li>
              <a href="gioi-thieu.html" rel="Nofollow" target="_blank"
                >Giới thiệu</a
              >
            </li>
            <li>
              <a href="tin-tuc/page" rel="dofollow" target="_blank">Tin tức</a>
            </li>
            <li>
              <a href="lien-he.html" rel="Nofollow" target="_blank"
                >Li&ecirc;n hệ</a
              >
            </li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12">
          <p>SẢN PHẨM</p>

          <ul>
            <li>
              <a
                href="thiet-bi-dung-cu-nha-may/page/3.html"
                rel="dofollow"
                target="_blank"
                >Thiết bị, dụng cụ nh&agrave; m&aacute;y</a
              >
            </li>
            <li>
              <a
                href="thiet-bi-dung-cu-thi-nghiem/page/3.html"
                rel="dofollow"
                target="_blank"
                >Thiết bị, dụng cụ th&iacute; nghiệm</a
              >
            </li>
            <li>
              <a
                href="thiet-bi-phong-sach-chong-tinh-di#"
                rel="dofollow"
                target="_blank"
                >Thiết bị ph&ograve;ng sạch/ chống tĩnh điện</a
              >
            </li>
            <li>
              <a href="thiet-bi-y-te.html" rel="dofollow" target="_blank"
                >Thiết bị y tế</a
              >
            </li>
            <li>
              <a
                href="thiet-bi-kiem-tra-va-ve-sinh-thuc-pham.html"
                rel="nofollow"
                target="_blank"
                >Thiết bị kiểm tra v&agrave; vệ sinh thực phẩm</a
              >
            </li>
            <li>
              <a
                href="thiet-bi-su-dung-khan-cap.html"
                rel="nofollow"
                target="_blank"
                >Thiết bị sử dụng khẩn cấp</a
              >
            </li>
          </ul>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12">
          <p>TH&Ocirc;NG TIN CH&Iacute;NH S&Aacute;CH</p>

          <ul>
            <li>
              <a href="chinh-sach-bao-mat.html" rel="Nofollow" target="_blank"
                >Ch&iacute;nh s&aacute;ch bảo mật</a
              >
            </li>
            <li>
              <a href="chinh-sach-bao-hanh.html" rel="Nofollow" target="_blank"
                >Ch&iacute;nh s&aacute;ch bảo h&agrave;nh</a
              >
            </li>
            <li>
              <a href="gioi-thieu.html#" rel="Nofollow"
                >Ch&iacute;nh s&aacute;ch đổi trả h&agrave;ng h&oacute;a</a
              >
            </li>
            <li>
              <a href="gioi-thieu.html#" rel="Nofollow"
                >Ch&iacute;nh s&aacute;ch vận chuyển v&agrave; giao nhận</a
              >
            </li>
            <li>
              <a href="gioi-thieu.html#" rel="Nofollow"
                >Hướng dẫn mua h&agrave;ng</a
              >
            </li>
            <li>
              <a href="gioi-thieu.html#" rel="Nofollow"
                >Hướng dẫn thanh to&aacute;n</a
              >
            </li>
          </ul>
        </div>

        <div class="col-md-3 copl-sm-6 col-xs-12">
          <div class="social">
            <a href="" rel="nofollow" target="_blank"
              ><img
                alt=""
                src="/views/client/Content/Uploads/images/iface.png"
                style="height: 36px; width: 36px" /></a
            >&nbsp;<a
              href="https://twitter.com/logatechvietnam"
              rel="nofollow"
              target="_blank"
              ><img
                alt=""
                src="/views/client/Content/Uploads/images/itwitter.png"
                style="height: 36px; width: 36px" /></a
            >&nbsp;<a
              href="https://www.youtube.com/channel/UCXNqUq5hnzrCwMg6id6-3UQ"
              rel="nofollow"
              target="_blank"
              ><img
                alt=""
                src="/views/client/Content/Uploads/images/iyoutube.png"
                style="height: 36px; width: 36px" /></a
            >&nbsp;<a
              href="https://www.linkedin.com/in/logatechvietnam/"
              rel="nofollow"
              target="_blank"
              ><img
                alt=""
                src="/views/client/Content/Uploads/images/ilinkedin.png"
                style="height: 36px; width: 36px" /></a
            ><a
              href="https://www.instagram.com/logatechvn/"
              rel="nofollow"
              target="_blank"
              ><img
                alt=""
                src="/views/client/Content/Uploads/images/iinstagram.png"
                style="height: 36px; width: 36px"
            /></a>
          </div>

          <p>
            Địa chỉ:&nbsp;<a
              href="https://maps.app.goo.gl/U7bj7FpaCV5JrGmq9"
              rel="nofollow"
              target="_blank"
              ><span style="color: #ffffff"
                >Số 1211 đường Phạm Văn Bạch, Phường 12, Quận Gò Vấp, Thành phố
                Hồ Chí Minh, Việt Nam</span
              ></a
            >
          </p>

          <p>Email: sales@daiduongautomation.com</p>

          <p>Điện thoại: 0888406268 -&nbsp;0968080891</p>
        </div>
      </div>
    </div>
    <div class="footer-main">
      <div class="w-ct clearfix">
        <div class="f-foot">
          <div>
            <h5 class="fl-foot">Follow us</h5>
          </div>
          <div>
            <img
              src=".//views/client/Content/Uploads/images/ico_youtube01.png"
              width="50px"
              alt=""
            />
            <img
              src=".//views/client/Content/Uploads/images/ico_facebook01.png"
              width="50px"
              alt=""
            />
          </div>
        </div>
        <div class="line-foot">
          <hr color="#fff" />
        </div>
        <div class="list-detail-foot clearfix">
          <div class="col-md-3">
            <h1>DAI DUONG</h1>
            <p class="vn-foot">VietNam</p>
          </div>
          <div class="col-md-3">
            <p class="title-item-foot">Công ty</p>
            <ul class="list-item-foot">
              <li>Về chúng tôi</li>
              <li>Dịch vụ</li>
              <li>Global Home</li>
              <li>Tuyển dụng</li>
              <li>Cam kết bảo vệ quyền riêng</li>
            </ul>
          </div>
          <div class="col-md-3">
            <p class="title-item-foot">Sản phẩm</p>
            <ul class="list-item-foot">
              <li>Sản phẩm theo danh mục</li>
              <li>Nhà cung cấp</li>
              <li>Các mặt hàng nổi bật</li>
              <li>Video sản phẩm</li>
            </ul>
          </div>
          <div class="col-md-3">
            <p class="title-item-foot">Tin tức</p>
            <ul class="list-item-foot">
              <li>Thông tin công ty</li>
              <li>Thông tin sản phẩm</li>
              <li>Triển lãm/Hội thảo</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="social-ring">
      <div class="social-ring-main" style="display: block">
        <div class="social-ring-content">
          <a target="_blank" rel="nofollow" href="" class="mes">
            <img
              alt="Fanpage"
              width="40"
              height="40"
              src="/views/client/Content/Uploads/images/mess-i.png"
            />
            <div class="animated alo-circle"></div>
            <div class="animated alo-circle-fill"></div>
            <span>Message Facebook</span>
          </a>
          <a
            target="_blank"
            rel="nofollow"
            href="https://zalo.me/0888406268"
            class="zalo"
          >
            <img
              alt="Zalo"
              width="40"
              height="40"
              src="/views/client/Content/Uploads/images/zalo-i.png"
            />
            <div class="animated alo-circle"></div>
            <div class="animated alo-circle-fill"></div>
            <span>Zalo: 0888.40.62.68</span>
          </a>
          <a
            target="_blank"
            rel="nofollow"
            href="tel:0888406268"
            class="call-icon"
            rel="nofollow"
          >
            <img
              alt="Hotline"
              width="40"
              height="40"
              src="/views/client/Content/Uploads/images/phone-i.png"
            />
            <div class="animated alo-circle"></div>
            <div class="animated alo-circle-fill"></div>
            <span>Hotline: 0888.40.62.68</span>
          </a>
          <a
            target="_blank"
            rel="nofollow"
            href="tel:0968080891"
            class="call-icon"
            rel="nofollow"
          >
            <img
              alt="Hotline"
              width="40"
              height="40"
              src="/views/client/Content/Uploads/images/phone-i.png"
            />
            <div class="animated alo-circle"></div>
            <div class="animated alo-circle-fill"></div>
            <span>Hotline: 0888.40.62.68</span>
          </a>
        </div>
      </div>
    </div>
    <input type="hidden" id="currentLanguage" value="vi" />
    <script src="/views/client/Content/lib/js/jquery-1.10.2.min.js"></script>

    <script src="/views/client/Content/lib/owlcarousel2/owl.carousel.min.js"></script>
    <script src="/views/client/Content/lib/js/autosearch.js"></script>
  </body>
</html>
